.containerRetiro,.containerOperaciones{
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    margin: 45px;
}

button[type="submit"]{
    align-items: center;
    background-color: #3364FF;
    color: white;
    font-size: 16px;
    padding: 5px 5px;
    border-radius: 50px 10px 50px 10px;
    border-color: #3364FF;
    width: 200px;
}

a{
    text-decoration: none;
    color: white;
}

#inner {
    margin: 0 auto;
    padding: 0 20px;
    width: 50%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 40px;
    }

#im2{
    height: 100px;
    width: 100px;
    align-items: end;
}

#Btn_Cancelar {
    background-color: #3C3D40;
    border-color: #3C3D40;
}

#Btn_Otro_Valor{
    background-color: #3C3D40;
    border-color: #3C3D40;
}
#BtnsIzqu{
    
    border-radius: 2px 2px 2px 30px;
}

#BtnsDerec{
    
    border-radius: 2px 30px 2px 2px;
}



/*@media screen and (max-width: 480px) {
  #inner {
    width: calc(100% - 80px);
  }
}

@media only screen and (max-width: 480px) {
    img {
      width: 100%;
    }
  }*/